.env
venv
bot/db/__pycache__/config.cpython-310.pyc
bot/db/__pycache__/db.cpython-310.pyc
bot/db/__pycache__/models.cpython-310.pyc
__pycache__/ai.cpython-310.pyc
__pycache__/db.cpython-310.pyc
bot/command/__pycache__